<!-- RahulRaj Vardhanapu --8813996 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- InBuild CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <title>To-Do_List_Application</title>
    <nav>
        <div class="container" style="margin-top: 40px">
            <!-- Navigation Panel -->
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
        </div>
    </nav>
 </head>
<body>
<!-- Image - Reference Url "https://clickup.com/blog/to-do-list-app/" -->
<img class="center" src="/static/to-do-list-apps.png" alt="">
</body>
</html>